Users/Default/Libraries/Default/100-avisoft-compressed/100-avisoft-compressed.mat
Users/Default/Libraries/Default/100-avisoft-compressed/Logs/USVs.mat
*.lnk
Users/Default/Libraries/Default/100-avisoft-compressed/Logs/USVs2.mat
Users/Default/Libraries/Default/100-avisoft-compressed/Logs/USVs2_CLEAN.mat
Users/Default/Libraries/Default/100-avisoft-compressed/Logs/USVs2_CLEAN_REVIEWED.mat
Extensions/Actions/Log/Selection Review 12-7-16.rar
Extensions/Actions/Log/Test/Helpers/discover_measures.m
Extensions/Actions/Log/USV_XBAT2Excel 12-7-16.rar