BODY {
    background-color: rgb(240,240,240);
    font-family: lucida sans unicode, verdana, arial, helvetica, sans-serif;
    font-size: 10pt;
    line-height: 150%
}

H1 {
    font-family: comic sans ms, lucida sans unicode, verdana, arial, helvetica, sans-serif;
    font-size: 14pt;
    font-style: bold;
    font-variant: small-caps;
    letter-spacing: 0.25em;
    line-height: 150%;
    padding: 0em 0em 1em;
    text-decoration: none;
}

A {
    display: none;
    color: black;
    font-size: 200%;
    margin: 0em 1em;
    padding: 2px;
}

A:hover {
    border: 1px dotted red;
}

DIV.command {
    padding: 2px;
}

DIV.description {
    color: rgb(64,64,128);
    font-size: 7pt;
    margin: 0em 0.5em;
}

SPAN.key {
    background-color: rgb(240,240,220);
    border: 1px solid rgb(128,128,128);
    border-bottom: 2px solid rgb(64,64,64);
    border-right: 2px solid rgb(64,64,64);
    color: black;
    font-family: courier new, monospace;
    font-size: 7pt;
    font-style: bold;
    padding: 8px 16px;
}

TABLE.keys {
    background-color: white;
    border-collapse: auto;
    width: 100%;
}

TABLE.keys TR.header {
    background-color: rgb(240,240,200);
    font-size: 9pt;
    font-style: bold;
    letter-spacing: 0.25em;
}

TABLE.keys TH {
    border-bottom: 1px solid black;
    text-align: left;
    padding: 12px
}

TABLE.keys TR.category {
    background-color: rgb(220,220,200);
    border-bottom: 1px solid rgb(192,192,192);
    font-size: 9pt;
    font-style: bold;
    letter-spacing: 0.25em;
    padding: 16px 12px 1px
}

TABLE.keys TR {
    
}

TABLE.keys TD {
    border-bottom: 1px solid rgb(192,192,192);
    font-size: 9pt;
    padding: 8px 16px;
}